{block content}
<p><a n:href="Menu:mainMenu">Zpet do menu</a></p>
<h1> Pridani noveho {if $typeOfFlight}mezistatniho{/if}{if !$typeOfFlight}vnitrostatniho{/if} letu </h1>


<center>{control addFlightForm}</center>

</br></br><a n:href="Menu:mainMenu">Zpet do menu</a>

{/block}