{block content}

<h1> Pridani listku  - Zadani informaci</h1>
<p><a n:href="Menu:mainMenu">Zpet do menu</a></p> 

<center>{control addTicket2Form}</center>


<p><a n:href="DbSearch:searchFlight">Zpet na vyber letu</a></p>

{/block}